.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  width: 900px;
}
.logo {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border: 5px solid black;
}
.navbar h1 {
  font-size: 2.5rem;
}
.form {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  width: 900px;
  font-size: 1.3rem;
}
.form input {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  height: 30px;
}
.get-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  font-size: 1.5rem;
  width: 900px;
  margin-bottom: 20px;
}
.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme > img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.meme span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
