* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.hero-section {
  width: 500px;
}
.navbar {
  display: flex;
  align-item: center;
  justify-content: center;
  font-size: 2rem;
  width: 800px;
  background-color: #e45c5cff;
  height: 60px;
}
.content-box {
  max-width: 800px;
}
.card {
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  justify-content: center;
}

.img {
  width: 250px;
  height: 350px;
  border-radius: 8px;
}
.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-align: left;
  margin: 20px;
}
.inf {
  text-align: left;
  margin: 20px;
}
