.navbar {
  background-color: #f55a5a;
  color: white;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  border-radius: 8px;
  width: 700px;
}

.nav-title {
  margin: 0;
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 700px;
}
.image {
  height: 400px;
  width: 300px;
  border-radius: 8px;
}
.info {
  gap: 20px;
  text-align: left;
  margin: 20px;
  line-height: 28px;
  font-size: 1.4rem;
}
.title {
  display: flex;
  gap: 10px;
  margin: 20px;
}
.google-link {
  text-decoration: none;
  margin: 22px;
}
.place {
  font-size: 3rem;
}
.date {
  font-size: 1rem;
}

.para {
  font-size: 1.5rem;
  color: #2e2929;
}
