.navbar {
  display: flex;
  flex-direction: row;
  align-item: center;
  justify-content: center;
}
.img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.header {
  font-size: 3rem;
  margin-top: 35px;
}
.add-ingredient-form {
  display: flex;
  align-item: center;
  justify-content: center;
  gap: 10px;
}
.add-ingredient-form input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 600px;
}
.button {
  height: 40px;
  width: 180px;
  border-radius: 6px;
  font-size: 1.5rem;
  border: 2px solid #eb4402;
  background-color: #eb4402;
  color: white;
}
.ingredients-list ul {
  margin-bottom: 48px;
  text-align: left;
  font-size: 1.8rem;
}

.ingredients-list ul li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  align-item: center;
  gap: 50px;
  padding: 10px 28px;
  background-color: #eb4402;
  border-radius: 20px;
  width: 700px;
  height:150px;
}
.get-recipe-container h3 {
  font-size: 1.5rem;
}
.get-recipe-container p {
  font-size: 1rem;
}

.get-recipe-container button {
  margin-left: 300px;
  margin-top: 40px;
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  border-radius: 20px;
}
.list-ingredient h1 {
  text-align: left;
}
.list-items {
  max-width: 700px; /* same as input max-width */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1.3rem;
}
