.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  height: 350px;
}
.img {
  width: 320px;
  height: 220px;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}
.email {
  font-size: 1.5rem;
}
.info-group {
  line-height: 1rem;
}
